<form class="actor-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1>{{actor.name}}</h1>
  </header>

  <section class="sheet-body">
    <div class="resource">
      <label>Hitpoints</label>
      <input type="number" name="system.resources.health.value" value="{{actor.attributes.hp.value}}" />
    </div>

    <div class="skills">
<h3>Skills</h3>

<!-- Loop through the Skills -->
{{#each actor.data.templates.resources.skills as |skill skillData|}}
  <h4>{{capitalize skill}}</h4>
  <p>Min: {{skillData.min}}</p>
  <p>Value: {{skillData.value}}</p>
  <p>Max: {{skillData.max}}</p>
{{/each}}
    </div>
  </section>
</form>
