<form class="actor-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1>{{actor.name}}</h1>
  </header>

  <section class="sheet-tabs">
    <nav class="tab-buttons">
      <button type="button" class="tab" data-tab="armor">Armour</button>
      <button type="button" class="tab" data-tab="skills">Skills</button>
      <button type="button" class="tab" data-tab="inventory">Inventory</button>
      <button type="button" class="tab" data-tab="about">Lore</button>
    </nav>
    
    <div class="tab-content armor" data-tab-content="armor">
    </div>

    <div class="tab-content skills" data-tab-content="skills">
      {{#each actor.system.skills}}
      <div class="skill-card {{#if (eq this.value this.max)}}maxed{{/if}}" data-skill="{{@key}}">
        <div class="skill-icon" style="background-image: url('systems/rsk/icons/skills/{{@key}}.png');"></div>
        <div class="skill-info">
          <span class="skill-name">{{capitalize @key}}</span><br />
          <span class="skill-values">{{this.value}} / {{this.max}}</span>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="tab-content inventory-grid" data-tab-content="inventory" id="inventoryGrid">
      {{#each actor.system.inventory as |item index|}}
        <div class="inventory-slot {{#if item}}occupied{{else}}empty{{/if}}" title="{{item.name}}">
          {{#if item}}
            <img src="{{item.icon}}" alt="{{item.name}}" />
          {{else}}
            <span class="empty-slot">+</span>
          {{/if}}
        </div>
      {{/each}}
    </div>
    
    <div class="tab-content about" data-tab-content="about">
    </div>
  </section>
</form>